/* h1{
    text-align: center;
} */
.container  {
   text-align: center;
   background-color: #45ADA8;
}
.task{
    padding: 10px;
    text-decoration: none;
}
.updateLinkClass{
    padding: 10px 5px 10px 5px;
    text-decoration: none;
}
.deleteLinkClass{
    text-decoration: none;
}
body{
    background-color:#547980 ;
}