/* GENERAL STYLING */
body {
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    ;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: underline;
}

.container {
    background-color: #819fa7;
    margin: auto;
    max-width: 600px;
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}

/* NAVIGATION CSS BELOW */
.navigationClass {
    background-color: #819fa7;
    border: solid black 2px;
    padding-left: 10px;
    display: grid;
    column-gap: normal;
}

.navigationLinks {
    display: flex;
    justify-content: space-between;
}

/* TASK LIST PAGE BELOW */
/* .headerForTaskList{
    padding-top: 15px;
}
.taskListDiv{
    margin: 0 auto;
    padding: 25px 0px 15px 0px;
    text-decoration: none;
}
.updateAndDeleteSpan{
    padding-left: 200px;
}
.task{
    text-decoration: none;
    color: black;
    border: solid black 2px;
    padding: 8px;
}
.updateLinkClass{
    text-decoration: none;
    color: black;
}
.deleteLinkClass{
    text-decoration: none;
    color: black;
} */


/* DETAIL PAGE BELOW */
.taskDetailDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 35px;
}
.detailTags{
    border: solid black 2px;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}

/* ABOUT PAGE */
.devName{
    text-align: center;
}
.aboutPar{
    padding: 10px;
}
.contactMe{
    padding: 10px;
}