{% extends 'base.html' %}
{% block content %}
<div>
    <h2 class="devName"> Developed by: Gabriel Cruz</h2>
    <p class="aboutPar">
        This Task Manager application was built using Python, Django, HTML, and CSS. This application features a user-friendly interface that allows users to easily view, add, and update their tasks. The use of Django as the backend framework allows for efficient database management and
        dynamic rendering of HTML pages with CSS styling. With its intuitive design and robust functionality, this Task
        Manager application can help users stay organized and on top of their workload.
    </p>
    <p class="contactMe"> Feel free to reach out with any contributions or improvements.
        GabrielCruz.swe@gmail.com
    </p>
</div>
{% endblock %}