<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <title>Task Manager - {% block title %}{% endblock %}</title> 
    </head>
    <body >
        <nav>
            <div>
                <a href="/about">About</a>
            </div>
            <div>
                <a href="/login">Log out </a>
            </div>
        </nav>
        <div class="container">

            {% block content %}{% endblock %}

        </div>
  </body>
</html>